.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  padding: 10px 10px;
}

.logo{
  max-width: 110px;
  max-height: 110px;
}

.reserv{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.reserv div{
  text-align: right;
  margin-right: 10px;
}
.reserv strong{
  color: #FFF;
  display: block;
}
.reserv span{
  color: #DDD;
  font-size: 15px;
}
